html, body {
    background-color: #21232a;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3rem;
    padding: 70px;
}

button {
    font-size: 0.7rem;
    padding: 10px;
    margin: 3px;
}